body{
  font-family: cursive,sans-serif;
  color: fuchsia;
}

#header img{
  max-width: 100%;
  height: auto;
  background-size: cover;
  padding-left: 17%;
}

.affix {
  top: 0;
  width: 100%;
}

.col-sm-3{
  background: #5f5f5f;
  font-size: 2em;
  text-align: center;
  padding-top: .3em;
  height: 2em	;
  white-space: nowrap;
}

.col-sm-3 a{
    display: inline-block;
    color: white;
}

.col-sm-3 a:hover{
  background-color: black;
  min-width: 100%;
  min-height: 100%;
  color:white;
  text-decoration: none;
}

#contentheader{ 
  background-color: orange;
  color: white;
  text-decoration: underline;
  font-weight: bold;
  font-size: 2em;
  margin-top:1em;
  padding: 15px;
  text-align: center;
}

#mypic img{
  float: right;
  max-width: 30%;
  max-height: 20%;
  margin: 5em 4em;
}

#intro{
  background:green;
  border:1px solid black;
  border-radius: 4em;
  padding:25px;
  font-family: cursive;
  font-size: 1.2em;
  color: black;
  margin: 6em 30em 0 25em;
}

#knowmore{
  text-align: center;
  font-size: 2em;
  background-color: #EE4F02;
  display: block;
  opacity: 0.7;
  transition: all 0.5s ease-in-out;
  width: 30%;
  margin: 1em 20% -2em 30%;
  padding: 1em;
  border-radius: 50%;
}

#knowmore a{
  color: black;
}

#knowmore:hover{
  text-decoration: none;
  opacity: 1.0;
}

#interest {
  background:#f7f7f7;
  border:1px solid black;
  border-radius: 4em;
  padding:15px;
  font-family: cursive;
  font-size: 1.2em;
  color: black;
  margin: 6em 40em 0 2em;
}

.interest_img{
  max-width: 50%;
  min-height: 40%;
  max-height: 50%;
  border-radius: 10px;
  margin: 1em 0 1em 1em;
  align-content: center;
}

.jumbotron{
  background-color: black;
  color: white;
}
.gallery_header{
  background-color: grey;
  padding: .5em;
  color: darkorange;
  font-size: 5em;
  font-family: cursive;
  text-align: center;
}

.gallery{
  max-width: 25em;
  min-height: 25em;
  border: 1px hidden;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
  opacity: 0.5;
  padding: 1em;
  image-orientation: auto;
}

.gallery img:hover{
  opacity: 1;
}

#contact{
  color:darkorange;
  background-color: grey;
  font-family: cursive;
  border-radius: 10%; 
  padding: 2em;
  padding-bottom: 1em;
  margin: 1em;
  font-size: 2em;
}

#contact_header{
  font-size: 2em;
}

input[type=text],input[type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#input_msg{
  padding-bottom: 10em;
}

input[type=submit] {
  width: 40%;
  background-color: orange;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4em;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

#footer {
  background:#f7f7f7;
  border-radius: 4em; 
  clear:both;
  height: 60px;
}
#footer a{
  margin-left: 13em;
}

footer{
  background: #222222;
  color: #efefef;
  text-align: center;
  margin: .1em;
}