#header img{
  max-width: 100%;
  height: auto;
  background-size: cover;
  padding-left: 17%;
}

.jumbotron{
  background-color: black;
  color: white;
}

.col-sm-3{
  background-color: purple;
  font-size: 2em;
  text-align: center;
  padding-top: .3em;
  color: white;
  height: 2em	;
}

a{
  color: white;
}

.col-sm-3 a:hover{
  font-size: 1.2em;
  color: black;
}

.col-sm-3 a:visited{
  color: white;
}

.row{
  padding-top: 1em;
  height: 900%;
}

.affix {
  top: 0;
  width: 100%;
}

#interest {
  background:#f7f7f7;
  border:1px solid black;
  border-radius: 4em;
  padding:15px;
  font-family: cursive;
  font-size: 1.2em;
  color: black;
  margin: 6em 40em 0 2em;
}

.gallery{
  max-width: 25em;
  min-height: 25em;
  border: 1px hidden;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
  opacity: 0.5;
  padding: 1em;
  image-orientation: auto;
}

img:hover{
  opacity: 1;
}

.gallery_header{
  background-color: grey;
  padding: .5em;
  color: darkorange;
  font-size: 5em;
  font-family: cursive;
  text-align: center;
}

body{
  font-family: helvetica, cursive,sans-serif;
  color: fuchsia;
}

#mypic img{
  float: right;
  max-width: 30%;
  max-height: 20%;
  margin: 5em 4em;
}

#content{ 
  background-color: black;
  color: white;
  text-decoration: underline;
  font-size: 2em;
  margin-top:1em;
  padding: 15px;
  text-align: center;
}

#intro{
  background:green;
  border:1px solid black;
  border-radius: 4em;
  padding:25px;
  font-family: cursive;
  font-size: 1.2em;
  color: black;
  margin: 6em 30em 0 25em;
}
.interest_img{
  max-width: 50%;
  min-height: 40%;
  max-height: 50%;
  border-radius: 10px;
  margin: 1em 0 1em 1em;
  align-content: center;
}
#contact{
  color:darkorange;
  background-color: grey;
  font-family: cursive;
  border-radius: 10%; 
  padding: 2em;
  padding-bottom: 1em;
  margin: 1em;
  font-size: 2em;
}
#contact_header{
  font-size: 2em;
}
input[type=text],input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#input_msg{
  padding-bottom: 10em;
}

input[type=submit] {
    width: 40%;
    background-color: orange;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4em;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
#footer {
  background:#f7f7f7;
  border-radius: 4em; 
  clear:both;
  height: 60px;
}
#footer a{
  margin-left: 13em;
}
footer{
  background: #222222;
  color: #efefef;
  text-align: center;
  margin: .1em;
}